# Enable URL rewriting
RewriteEngine On
RewriteBase /

# Rewrite support URL
RewriteRule ^support$ support/support.html [L]
RewriteRule ^support/$ support/support.html [L]

# Rewrite privacy URL
RewriteRule ^privacy$ support/privacy.html [L]
RewriteRule ^privacy/$ support/privacy.html [L]